<%= render 'form' %>

<div class="text-center edit-links">
  <%= link_to 'Delete', post_url(@post),
    method: :delete,
    data: { confirm: "Are you sure you want to delete this post?" } %>
  |
  <%= link_to 'Cancel', post_url(@post) %>
</div>
